.top {
    text-decoration: none;
    display: block;
}

.block {
    display: inline;
}

.inline {
    display: block;
    border: 1px solid black;
    margin: 25px;
}

.n-child section:nth-child(2n+2) {
    border: solid 1px;
}